{% extends 'core/base.html' %}

{% block content %}
<main id="main" class="main">
    <div class="message-div">
        {% for message in messages %}
            <div class="container-fluid mt-1 mx-1">
                <div
                    class="alert {{ message.tags }} alert-dismissible fade show"
                    role="alert"
                >
                    {{ message }}
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                    ></button>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagetitle">
        <h1>Admin page </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Admin Page</li>
          </ol>
        </nav>
      </div>
    <!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Start Match</h5>
                        <form class="row g-3" action="{% url 'start-match' %}" method="post"> 
                            {% csrf_token %}                 
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="match" required>
                                        {% for match in remaining_matches %}
                                            <option value="{{match.link}}">{{ match.name|title }}</option>
                                        {% endfor %}    
                                    </select>
                                    <label for="floatingSelect">Match Name</label>
                                </div>
                            </div>                           
                            <div class="text-center">
                                {% if match_live %}
                                    <button type="submit" class="btn btn-primary" disabled>Submit</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary" >Start match</button>
                                {% endif %}
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">End Match</h5>   
                        <form class="row g-3" action="{% url 'end-match' %}" method="POST"> 
                            {% csrf_token %}                                           
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="end_match" required>                                      
                                        <option value="{{match_live.link}}">{{ match_live.name }}</option>   
                                    </select>
                                    <label for="floatingSelect">Match Name</label>
                                </div>
                            </div>    
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="result" required>
                                        <option disabled selected value> -- select an option -- </option>                                      
                                        {% for result in results %}
                                            <option value="{{result}}">{{ result|title }}</option>   
                                        {% endfor %}
                                    </select>
                                    <label for="floatingSelect">Result</label>
                                </div>
                            </div>                                                   
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Enter result and end match</button>
                            </div>                     
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bonus Points</h5>
                        <form class="row g-3" action="{% url 'allot-bonus-points' %}" method="post"> 
                            {% csrf_token %}                 
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="orange_cap" required>
                                        {% for player in players %}
                                            <option value="{{player.id}}">{{ player.name|title }}</option>
                                        {% endfor %}    
                                    </select>
                                    <label for="floatingSelect">Orange Cap Winner</label>
                                </div>
                            </div>   
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="purple_cap" required>
                                        {% for player in players %}
                                            <option value="{{player.id}}">{{ player.name|title }}</option>
                                        {% endfor %}    
                                    </select>
                                    <label for="floatingSelect">Purple Cap Winner</label>
                                </div>
                            </div>                        
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Start daily prediction</h5>
                        <form class="row g-3" action="{% url 'start-daily-match-prediction' %}" method="POST"> 
                            {% csrf_token %}                 
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="daily_match" required>
                                        {% for match in remaining_matches %}
                                            <option value="{{match.id}}">{{ match.name|title }}</option>
                                        {% endfor %}    
                                    </select>
                                    <label for="floatingSelect">Daily match prediction</label>
                                </div>
                            </div>                           
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">View personal team score</h5>
                                                      
                            <div class="text-center">
                                <button type="submit" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable" class="btn btn-primary">Submit</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal Dialog Scrollable -->
		<div class="modal fade modal-xl" id="modalDialogScrollable" tabindex="-1">
			<div class="modal-dialog modal-dialog-scrollable">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="modal-title"></h5>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th class="table-header" scope="col">Player</th>
                                    <th class="table-header" scope="col">Points</th>
                                  </tr>
                                </thead>
                                <tbody id="view-player-profile-modal">
                                    {% for key, value in karan_points.items %}
                                    <tr>
                                        <td class="table-content">{{key|title}}</td>
                                        <td class="table-content">{{value}}</td>                          
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th class="table-header" scope="col">Player</th>
                                    <th class="table-header" scope="col">Points</th>
                                  </tr>
                                </thead>
                                <tbody id="view-player-profile-modal">
                                    {% for key, value in opp_points.items %}
                                    <tr>
                                        <td class="table-content">{{key|title}}</td>
                                        <td class="table-content">{{value}}</td>                          
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
				  
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- End Modal Dialog Scrollable-->
</main>
{% endblock %}