{% extends 'core/base.html' %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Admin Roles</h1>
      <nav>
        {% comment %} <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol> {% endcomment %}
      </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
        <div class="row">
            <!-- Start Match -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Start Match</h5>
        
                        <form class="row g-3" action="{% url 'start-match' %}" method="post"> 
                            {% csrf_token %}                 
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="match" required>
                                        {% for match in remaining_matches %}
                                            <option value="{{match.link}}">{{ match.name }}</option>
                                        {% endfor %}
                                   
                                    </select>
                                    <label for="floatingSelect">Match Name</label>
                                </div>
                            </div>                           
                            <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
            <!-- Start Match -->
            <!-- End Match -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">End Match</h5>
        
                        <form class="row g-3" action="{% url 'end-match' %}" method="post"> 
                            {% csrf_token %}                 
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" aria-label="State" name="match" required>
                                        {% for match in matches_live %}
                                            <option value="{{match.link}}">{{ match.name }}</option>
                                        {% endfor %}             
                                    </select>
                                    <label for="floatingSelect">Match Name</label>
                                </div>
                            </div>                           
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form><!-- End floating Labels Form -->
                    </div>
                </div>
            </div>
            <!-- End Match -->
        </div>
    </section>
</main>
{% endblock %}