{% extends 'core/base.html' %}
{% load static %}
{% block style %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet"> <!-- for live demo page --> 
  <!-- Style in base -->
{% endblock %}

{% block content %}

<main id="main" class="main">

  <div class="message-div">
      <div class="container-fluid mt-1 mx-1">
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          Pay Rs 250/- before 28th March to be eligible to rewards. UPI ID - 9819340022@paytm
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
  </div>

    
  <div class="message-div">
    {% for message in messages %}
      <div class="container-fluid mt-1 mx-1">
        <div
          class="alert {{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    {% endfor %}
  </div>

    <div class="pagetitle">
      <h1>Create team </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Create team</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          
            <div class="card-body">
              <h5 class="card-title">Instructions</h5>
              <ul class="instructions">
                <li>Make a team of 15 players, including a captain and a vice-captain.</li>
                <li>Choose 3 matches from the league match as your bonus matches. The points of all players involved in the bonus match will be doubled.</li>
                <li>Predict the orange and purple cap winners of the IPL 2023. Each right prediction earns 100 points.</li>
              </ul>
              <div class="important-instruction">Note - You cannot select more than 2 players from the same team.</div>
              <div class="important-instruction">Note - You cannot change the players on your team. Although you can only change your captain and vice-captain ONCE during the season.</div>
            </div>
        </div>
      </div>
       <!-- Modal Dialog Scrollable -->
       <div class="modal fade" id="modalDialogScrollable" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Selected players</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="table-header" scope="col">Player</th>
                    <th class="table-header" scope="col">Team</th>
                  </tr>
                </thead>
                <tbody id="view-players-modal">
                        
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Dialog Scrollable-->
      <form class="row g-3 needs-validation" method="POST" action="{% url 'create-team' %}"  id="create_team_form" >
      {% csrf_token %}
      <div class="col-lg-6">   
        <div class="card">
          <div class="card-body ">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title justify-content-start">Choose players</h5>
              </div>
              <div class="col-2">
                <button type="button" class="view-list-btn" id="view-players-list" data-bs-toggle="modal" data-bs-target="#modalDialogScrollable">
                  <i class="bi bi-card-list view-list-i"></i>
                </button>
              </div>             
            </div>
            <div class="row">
              <!-- <div class="circle">1</div> -->
              <ul class="number" id="number-div">
                {% for i in '012345678901234'|make_list %}
                  <li class="empty">{{ forloop.counter }}</li>
                  
                {% endfor %}
              </ul>
            </div>
            
            <div id="player_errors" class="error_messages" display="none"></div>
            <!-- Bordered Tabs Justified -->
            <ul class="nav nav-tabs nav-tabs-bordered d-flex choose-players-ul" id="borderedTabJustified" role="tablist">       
                {% for teams in team_wise_players|slice:"0:5" %}
                  <li class="nav-item flex-fill choose-players-li" role="presentation">
                    <button class="nav-link w-100" id="{{ teams.abbr }}-tab" data-bs-toggle="tab" data-bs-target="#{{ teams.team_id }}" type="button" role="tab" aria-controls="home" aria-selected="true">{{ teams.abbr|upper }} <span class="player_number_indicator">(0)<span></button>
                  </li>
                {% endfor %}     
                {% for teams in team_wise_players|slice:"5:10" %}
                  <li class="nav-item flex-fill choose-players-li" role="presentation">
                    <button class="nav-link w-100" id="{{ teams.abbr }}-tab" data-bs-toggle="tab" data-bs-target="#{{ teams.team_id }}" type="button" role="tab" aria-controls="home" aria-selected="true">{{ teams.abbr|upper }} <span class="player_number_indicator">(0)<span></button>
                  </li>
                {% endfor %}
            </ul>
            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
              {% for teams in team_wise_players %}
                <div class="tab-pane fade show" id="{{ teams.team_id }}" role="tabpanel" aria-labelledby="home-tab">
                  <ul class="list-group team-list-ul">
                    {% for player in teams.players %}
                    <li class="list-group-item d-flex justify-content-between align-items-center players-li {{ player.team_name }}-li">
                      {{ player.name|title }}
                      <span class="badge">
                          <button id="player-id-{{ player.id }}" class="js-toggle-state || c-button-reset c-plus-to-check players-button {{ player.team_name }}-button" data-state="inactive" onclick="addPlayer({{ player.id }}, '{{ teams.name }}', '{{ player.name|title }}', '{{ teams.abbr }}')">
                            <span class="c-plus-to-check__text">
                              Add
                            </span>
                          </button>
                      </span>
                    </li>
                    {% endfor %}
                    
                  </ul><!-- End List With badges -->
                </div>
                {% endfor %}
            </div><!-- End Bordered Tabs Justified -->

          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">     
            <h5 class="card-title">Your captain <span>(x2 Pts) </span> </h5>                
            <div class="col-md-12">
              <div style="display:none">
                <select id="selected_players_hidden_list" multiple name="players">
                </select>
              </div>
              
              <div class="form-floating mt-3">
                <select id="select_captain"  data-allow-clear="1" placeholder=" Choose Captain"  class="form-select" name="captain" aria-label="State" onchange="selectedCaptain()" required> 
                </select>
              </div>
            </div>   
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">   
            <h5 class="card-title">Your vice captain <span>(x1.5 Pts) </span> </h5> 
            <div class="col-md-12">
              <div class="form-floating mt-3">
                <select id="select_vice_captain"  data-allow-clear="1" placeholder=" Choose Vice Captain"  class="form-select" name="vice_captain" aria-label="State" onchange="selectedViceCaptain()" required>
                </select>   
              </div>
            </div>   
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Your Bonus Matches <span>(Select 3)  </span> </h5> 
            <div class="col-md-12">
              <div class="form-floating mt-3">
                <select id="selected_matches" multiple data-allow-clear="1" placeholder="  Choose Matches" class="form-select" name="matches" aria-label="State" required>
                  {% for match in all_matches %}
                    {% if match.id in selected_matches %}
                      <option class="selected_players_class" selected value={{ match.id }}>{{ match.name|title }} <span> ({{ match.date }})</span> </option>
                    {% else %}
                      <option class="selected_players_class" value={{ match.id }}>{{ match.name|title }} <span>({{ match.date }})</span> </option>
                    {% endif %}
                  {% endfor %}
                </select>
                <div id="match_errors" class="error_messages" display="none"></div>
              </div>
            </div>   
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Predict Orange Cap winner <span>(100 Pts) </span> </h5> 
            <div class="col-md-12">
              <div class="form-floating mt-3">
                <select id="selected_orange_cap" data-allow-clear="1" placeholder="  Predict Orange Cap Winner" class="form-select" name="orange_cap" aria-label="State" required>
                  <option disabled selected value> -- select an option -- </option>
                  {% for team in team_wise_players %}  
                    {% for player in team.players %}
                      {% if player.id == selected_orange_cap %}
                        <option class="selected_players_class" selected value={{ player.id }}>{{ player.name|title }}</option>
                      {% else %}
                        <option class="selected_players_class" value={{ player.id }}>{{ player.name|title }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </select>
              </div>
            </div>   
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Predict Purple Cap winner <span>(100 Pts) </span> </h5> 
            <div class="col-md-12">
              <div class="form-floating mt-3">
                <select id="selected_purple_cap" data-allow-clear="1" placeholder="  Predict Purple Cap Winner" class="form-select" name="purple_cap" aria-label="State" required>
                  <option disabled selected value> -- select an option -- </option>
                  {% for team in team_wise_players %}  
                    {% for player in team.players %}
                      {% if player.id == selected_purple_cap %}
                        <option class="selected_players_class" selected value={{ player.id }}>{{ player.name|title }}</option>
                      {% else %}
                        <option class="selected_players_class" value={{ player.id }}>{{ player.name|title }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </select>
              </div>
            </div>   
          </div>
        </div>
      </div>

      <button class="btn btn-primary w-100" type="submit">
        Create Team
      </button>
      </form>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <!-- SELECT2 -->
  <script>

    const MAX_PLAYERS = 15;
    const MAX_MATCHES = 3;
    const MAX_PLAYERS_PER_TEAM = 2;
    var selected_players = [];
    var team_wise_player_count = {};
    var selected_players_team = {};
    
    {{ all_team_names|safe }}.forEach(item => {
      // console.log(item)
      team_wise_player_count[item] = 0;
    })
    
    const buttons = document.querySelectorAll(".js-toggle-state");
    
    function arrayAlreadyHasArray(arr, testArr){
        for(var i = 0; i<arr.length; i++){
            let checker = []
            for(var j = 0; j<arr[i].length; j++){
                if(arr[i][j] === testArr[j]){
                    checker.push(true)
                } else {
                    checker.push(false)
                }
            }
            if (checker.every(check => check === true)){
                return i
            }
        }
        return -1;
    }

    function addPlayer(player_id, team_name, player_name, team_abbr){
      event.preventDefault();
      var p = [player_id, player_name]
      if(!(team_name in team_wise_player_count)){
        team_wise_player_count[team_name] = 0;
      } 
      var presence = arrayAlreadyHasArray(selected_players, p)
      if(presence != -1){
        selected_players.splice(presence,1)
        team_wise_player_count[team_name] -= 1
        event.srcElement.setAttribute('data-state','inactive');
        event.preventDefault;
        event.srcElement.disabled=false;  
        var team_add_buttons = document.getElementsByClassName(team_name);
        
      } else {
        selected_players.push(p)
        team_wise_player_count[team_name] += 1
        event.srcElement.setAttribute('data-state','active'); 
        selected_players_team[p[0]] = team_name
      }
      
      document.getElementById(team_abbr+"-tab").innerHTML = team_abbr.toUpperCase() + " <span class='player_number_indicator'>("+team_wise_player_count[team_name]+")<span>"

      if(selected_players.length == MAX_PLAYERS){
        for(var button of document.getElementsByClassName("players-button")){
          curr_state = button.getAttribute("data-state")
          if(curr_state == "inactive"){
            button.parentElement.parentElement.classList.add('disabled')
          }
        }
      } else {   
        for(const [key, value] of Object.entries(team_wise_player_count)){
          if(value != MAX_PLAYERS_PER_TEAM){
            for(var button of document.getElementsByClassName(key+"-button")){
              button.parentElement.parentElement.classList.remove('disabled')
          }
          }
        }
        
      }

      if(team_wise_player_count[team_name] == MAX_PLAYERS_PER_TEAM || selected_players.length == MAX_PLAYERS){
        for(var button of document.getElementsByClassName(team_name+"-button")){
          curr_state = button.getAttribute("data-state")
          if(curr_state == "inactive"){
            button.parentElement.parentElement.classList.add('disabled')
          }
        }
      } else {
        for(var button of document.getElementsByClassName(team_name+"-button")){
            button.parentElement.parentElement.classList.remove('disabled')
        }
      }

      var number_html = ""
      for(var i=1; i<=selected_players.length; i++){
        number_html += "<li class='full'>"+i+"</li>";
      }

      for(var i=selected_players.length+1; i<=15; i++){
        number_html += "<li class='empty'>"+i+"</li>";
      }

      document.getElementById("number-div").innerHTML = number_html;

      var cap_options = "<option disabled selected value> -- select an option -- </option>"
      for(var i=0; i<selected_players.length; i++){
        cap_options += "<option value="+ selected_players[i][0] +">"+selected_players[i][1]+"</option>"
      }
      document.getElementById("select_captain").innerHTML = cap_options;
      document.getElementById("select_vice_captain").innerHTML = cap_options;

    }

    function selectedCaptain() {
      var selected_option = document.getElementById("select_captain");
      var selected_captain = selected_option.value;
      var selected_players_excluding_captain = [];
      for (var player of selected_players)
      {
          if ( player[0] != selected_captain) {
            selected_players_excluding_captain.push([player[0], player[1]]);
          }
      }

      var selected_vice_option = document.getElementById("select_vice_captain");
      var selected_vice_captain = selected_vice_option.value;

      var cap_options = ""
      for(var i=0; i<selected_players_excluding_captain.length; i++){
        cap_options += "<option value="+ selected_players_excluding_captain[i][0] +">"+selected_players_excluding_captain[i][1]+"</option>"
      }
      document.getElementById("select_vice_captain").innerHTML = cap_options; 
      document.getElementById("select_vice_captain").value = selected_vice_captain; 

    }

    function selectedViceCaptain() {
      var selected_option = document.getElementById("select_vice_captain");
      var selected_vice_captain = selected_option.value;
      var selected_players_excluding_vice_captain = [];
      for (var player of selected_players)
      {
          if ( player[0] != selected_vice_captain) {
            selected_players_excluding_vice_captain.push([player[0], player[1]]);
          }
      }

      var selected_captain_option = document.getElementById("select_captain");
      var selected_captain = selected_captain_option.value;

      var cap_options = "<option disabled selected value> -- select an option -- </option>"
      for(var i=0; i<selected_players_excluding_vice_captain.length; i++){
        cap_options += "<option value="+ selected_players_excluding_vice_captain[i][0] +">"+selected_players_excluding_vice_captain[i][1]+"</option>"
      }
      document.getElementById("select_captain").innerHTML = cap_options; 
      document.getElementById("select_captain").value = selected_captain; 
    
    }

    $(function () {
      var allready_selected_players = {{ selected_players }}
      for(let i = 0; i < allready_selected_players.length; i++){
        document.getElementById("player-id-"+allready_selected_players[i]).click();
      }
      document.getElementById("select_captain").value = {{selected_captain}}
      document.getElementById("select_vice_captain").value = {{selected_vice_captain}}

      document.getElementById("csk-tab").click();  

      $.noConflict();
      $('select').each(function () {
        $(this).select2({
          theme: 'bootstrap4',
          width: 'style',
          placeholder: $(this).attr('placeholder'),
          allowClear: Boolean($(this).data('allow-clear')),
        });
      }); 
        $('#selected_matches').each(function () {
          $(this).select2({
            maximumSelectionLength: MAX_MATCHES,
            theme: 'bootstrap4',
            width: 'style',
            placeholder: $(this).attr('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
          });
        }); 
        {% comment %} $('#selected_players').each(function () {
          $(this).select2({            
            maximumSelectionLength: MAX_PLAYERS,
            theme: 'bootstrap4',
            width: 'style',
            placeholder: $(this).attr('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
          });
        });  {% endcomment %}
      });

      let viewPlayersBtn = document.getElementById("view-players-list");
      viewPlayersBtn.addEventListener("click", (e) => {
        e.preventDefault();
        var viewPlayersModal = document.getElementById("view-players-modal")
        var viewPlayersModalHtml = ""
        for(var i=0; i<selected_players.length; i++){
          viewPlayersModalHtml += `<tr>
                                      <td class="table-content">${selected_players[i][1]}</td>
                                      <td class="table-content">${selected_players_team[selected_players[i][0]]}</td>

                                  </tr>`
        }
        viewPlayersModal.innerHTML = viewPlayersModalHtml;
      });

      let createTeamForm = document.getElementById("create_team_form");
      createTeamForm.addEventListener("submit", (e) => {
        e.preventDefault();
          
        var players = selected_players

        var all_matches = document.getElementById('selected_matches')
        var matches = [...all_matches.options].filter(option => option.selected)

        if(players.length != MAX_PLAYERS){
          console.log("error")
          document.getElementById("player_errors").style.display = "block";
          document.getElementById("player_errors").innerHTML =`You have selected ${selected_players.length}. Please select ${MAX_PLAYERS}.`
          document.getElementById("player_errors").scrollIntoView();  
        }

        if(matches.length != MAX_MATCHES){
          document.getElementById("match_errors").style.display = "block";
          document.getElementById("match_errors").innerHTML =`You have selected ${matches.length}. Please select ${MAX_MATCHES}.`
        } 

        if(players.length == MAX_PLAYERS && matches.length == MAX_MATCHES){
          var hidden_text = ""
          for(i=0; i<selected_players.length; i++){
            hidden_text += "<option value="+ selected_players[i][0] +" selected>"+selected_players[i][1]+"</option>"
          }
          document.getElementById("selected_players_hidden_list").innerHTML = hidden_text
          createTeamForm.submit();
        }
      });

    </script>

{% endblock %}