{% extends 'core/base.html' %}
{% load static %}
{% block style %}
  <link href="{% static 'core/assets/css/homepage.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<main id="main" class="main">

    <div class="message-div">
      {% for message in messages %}
        <div class="container-fluid mt-1 mx-1">
          <div
            class="alert {{ message.tags }} alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          {% comment %} <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Home</a></li> {% endcomment %}
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            {% if is_match_live %}
            <div class="row">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Live Score <span>| Match Name </span> </h5>
                  <div><span class="toss-span">Update</span></div>
                  <div><span class="score-span">Score</span></div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="title">
                        Team Name <span>| Batting </span>
                      </div>
                      <hr>
                      <table class="table table-borderless">
                        <thead>
                          <tr class="score-row-title">
                            <th>Batsman</th>
                            <th>R</th>
                            <th>B</th>
                            <th>4s</th>
                            <th>6s</th>
                            <th>SR</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="score-row">
                            <th>Kohli</th>
                            <th>50</th>
                            <th>50</th>
                            <th>4</th>
                            <th>2</th>
                            <th>100</th>
                          </tr>
                          <tr class="score-row">
                            <th>Kohli</th>
                            <th>50</th>
                            <th>50</th>
                            <th>4</th>
                            <th>2</th>
                            <th>100</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-lg-6">
                      <div class="title">
                        Team Name <span>| Bowling </span>
                      </div>
                      <hr>
                      <table class="table table-borderless">
                        <thead>
                          <tr class="score-row-title">
                            <th>Bowler</th>
                            <th>O</th>
                            <th>M</th>
                            <th>R</th>
                            <th>W</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="score-row">
                            <th>Bumrah</th>
                            <th>4</th>
                            <th>0</th>
                            <th>20</th>
                            <th>2</th>
                          </tr>
                          <tr class="score-row">
                            <th>Bumrah</th>
                            <th>4</th>
                            <th>0</th>
                            <th>20</th>
                            <th>2</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {% comment %} <div class="activity">
                    <div class="activity-item d-flex">
                      <div class="activite-label">32 min</div>
                      <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                      <div class="activity-content">
                        Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                      </div>
                    </div>
                  </div> {% endcomment %}
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Overall Player Points -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body" >
                  <h5 class="card-title">User Points <span>| Overall</span></h5>
                  <table class="table table-hover datatable" id="user_points">
                    <thead>
                      <tr>
                        {% comment %} <th scope="col">#</th> {% endcomment %}
                        <th scope="col">Rank</th>
                        <th scope="col">User</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr>
                        <td class="table-content"><span class="badge bg-success">{{ user.rank }}</span></td>
                        <td class="table-content"><a href="{% url 'profile' user.user.id %}" class="text-primary">{{ user.user.username|title }}</a></td>
                        <td class="table-content"><span class="badge bg-success">{{ user.total_score }}</span></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End Overall User Points -->

            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body" >
                  <h5 class="card-title">Player Points <span>| Overall</span></h5>

                  <table class="table table-hover datatable" id="player_points">
                    <thead>
                      <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Bat</th>
                        <th scope="col">Bowl</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for player in players %}
                      <tr>
                        {% comment %} <th scope="row"><a href="#">#</a></th> {% endcomment %}
                        <td class="table-content"><a href="{% url 'player-stats' %}?player_id={{ player.id }}" class="text-primary">{{ player.name|title }}</a></td>
                        <td class="table-content">{{ player.bat_points }}</td>
                        <td class="table-content">{{ player.bowl_points }}</td>
                        <td class="table-content"><span class="badge bg-success">{{ player.total_points }}</span></td>
                      </tr>
                      {% endfor %}
        
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Overall Player Points -->
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Sales Card -->
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">MVP<span> | Most Points </span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h5> {{ players.0.name|title }} - {{ players.0.total_points }} </h5>
                    {% comment %} <span class="text-muted small pt-2 ps-1"></span> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Batting <span>| Most Runs </span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h5>{{ best_batsman.name|title }} - {{ best_batsman.bat_points }}  </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Bowling <span>| Most Wickets</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h5> {{ best_bowler.name|title }} - {{ best_bowler.bowl_points }}</h5>
                  </div>
                </div>
              </div>
            </div>


        </div><!-- End Right side columns -->
      </div>
    </section>

  </main><!-- End #main -->

  {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function () {
      console.log("hi")
      $('#user_points').dataTable({
        "paging": false
      });

      $('#player_points').dataTable({
        "paging": false
      });
    });
  </script> {% endcomment %}

{% endblock %}