{% extends 'core/base.html' %}
{% load static %}
{% block style %}
  <link href="{% static 'core/assets/css/players-style.css' %}" rel="stylesheet">
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
{% endblock %}

{% block content %}
      <main id="main" class="main">
        <div class="message-div">
          {% for message in messages %}
            <div class="container-fluid mt-1 mx-1">
              <div
                class="alert {{ message.tags }} alert-dismissible fade show"
                role="alert"
              >
                {{ message }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          {% endfor %}
        </div>
    
        <div class="pagetitle">
          <h1>Player Stats</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Player Stats</li>
            </ol>
          </nav>
        </div>
        <div class="search-div">
          <div class="row">
            <div class="search-bar">
              <form class="search-form d-flex align-items-center" method="POST" action="{% url 'player-stats' %}">
                {% csrf_token %}
                <input type="text" name="player-name" placeholder="Search" title="Enter search keyword" id="player-name-input">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <br/>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="card ">
              <div class="card-body">
                <h5 class="card-title"> Performance <span>/ {{ player_name|title }}</span></h5>
                <!-- Line Chart -->
                <div id="reportsChart"></div>
                <!-- End Line Chart -->
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Player Overview</h5>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Match</th>
                      <th scope="col">Points</th>
                    </tr>
                  </thead>
                  <tbody id="player_match_points">  
                       
                  </tbody>
                </table>
              </div> 
            </div>
          </div>
        </div>
      </div><!-- End Reports -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
      <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

      <script>

        $(document).ready(function () {
          
          var availableTags = [
            {% for player in all_players %}
              "{{player.name}}",
            {% endfor %}
          ];
          $("#player-name-input").autocomplete({
              source: availableTags
          });
        });

       

        $(document).ready(function (){
          // console.log("Hellos");
          var matches = [];
          var points = [];

          $.ajax(
            {
                type:"GET",
                url: "{% url 'calculate-player-stats' %}",
                data:{
                  query_name: "{{ player_name }}"
                },
                
                dataType: "json",
                success: function( data ) 
                {

                  data = JSON.parse(data)
                  // console.log(data)
                  for( const m in data ){
                    matches.push(m)
                    points.push(data[m])
                    document.getElementById("player_match_points").innerHTML +=
                      `<tr><td style="text-transform:capitalize" >${m}</td><td>${data[m]}</td></tr>`;
                  }

                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [{
                      name: 'Points',
                      data: points,
                    }, ],
                    chart: {
                      height: 350,
                      type: 'area',
                      toolbar: {
                        show: false
                      },
                    },
                    markers: {
                      size: 4
                    },
                    colors: ['#4154f1'],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100]
                      }
                    },
                    dataLabels: {
                      enabled: false
                    },
                    stroke: {
                      curve: 'smooth',
                      width: 2
                    },
                    xaxis: {
                      type: 'string',
                      categories: matches,
                    },
                    tooltip: {
                      x: {
                        format: 'dd/MM/yy HH:mm'
                      },
                    }
                  }).render();
                  
                }
            })

        })

      </script>
    
</main>
{% endblock %}