{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <main id="main" class="main">
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                
                  <div class="card-body">
                    <h5 class="card-title">PlayerBattle - Policy</h5>
                    <div class="instructions">
                    Player battle is a portal created for having fun and rewarding the people for using their skill and knowledge in the sport.
                    <br/><br/>
                    Legality:
                    Games of skill are legal, as they are excluded from the ambit of Indian gambling legislations including, the Public Gambling Act of 1867.The Indian Supreme Court in the cases of State of Andhra Pradesh v. K Satyanarayana (AIR 1968 SC 825) and KR Lakshmanan v. State of Tamil Nadu (AIR 1996 SC 1153) has held that a game in which success depends predominantly upon the superior knowledge, training, attention, experience and adroitness of the player shall be classified as a game of skill.
                    The Contest is a games of skill as success of Participants depends primarily on their superior knowledge of the games of cricket, knowledge of players' relative form, players' performance in a particular territory, conditions and/or format (such as ODIs, test cricket and Twenty20 in the cricket fantasy game), attention and dedication towards the Contest(s) and adroitness in playing the Contest(s). The Contest(s) also requires Participants to field well-balanced sides with limited resources and make substitutions at appropriate times to gain the maximum points.
                    By participating in this Contest(s), each Participant acknowledges and agrees that he/she is participating in a game of skill.
                    <br/><br/>
                    Note: - The entry fee taken from the users is for distribution of the rewards and can not be considered as gambling activity and is purely for purpose of having fun and this portal is a part of pilot project from the admin.
                    <div>
              </div>
            </div>
    </main>
{% endblock %}