{% extends 'core/base.html' %}
{% load static %}


{% block style %}
  <link href="{% static 'core/assets/css/profile.css' %}" rel="stylesheet">
  <style>
    button.acc-btn {
      /* create a grid */
      display: grid;
      /* create colums. 1fr means use available space */
      grid-template-columns: 1fr max-content max-content;
      align-items: center;
      grid-gap: 10px;
    }
  </style>  
{% endblock %}

{% block content %}

<main id="main" class="main">

    
  <div class="message-div">
    {% for message in messages %}
      <div class="container-fluid mt-1 mx-1">
        <div
          class="alert {{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    {% endfor %}
  </div>

    <div class="pagetitle">
      <h1>Profile {% if viewing_another_profile %} - {{ profile_viewing.user.username }} {% endif %} </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Dashboard</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <h2>{{ profile_viewing.total_score }}</h2>
                  <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:15 }}'s {% else %} Your {% endif %} score</h6>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <h2>{{ profile_viewing.rank }} <i class="bi bi-award"></i></h2>
                  <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:12 }}'s {% else %} Your {% endif %} rank</h6>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <h2>{{ profile_viewing.prediction_streak }} <i class="bi bi-fire"></i></h2>
                  <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:12 }}'s {% else %} Your {% endif %} streak</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{ profile_viewing.captain.name|title }}</h2>
              <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:12 }}'s {% else %} Current {% endif %} captain</h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{ profile_viewing.vice_captain.name|title }}</h2>
              <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:12 }}'s {% else %} Current {% endif %} vice captain</h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{ profile_viewing.orange_cap.name|title }}</h2>
              <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:12 }}'s {% else %} Your {% endif %} orange cap prediction</h6>
            </div>
          </div>

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <h2>{{ profile_viewing.purple_cap.name|title }}</h2>
              <h6> {% if viewing_another_profile %} {{ profile_viewing.user.username|truncatechars:12 }}'s {% else %} Your {% endif %} purple cap prediction</h6>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                    {% if not viewing_another_profile %} My {% else %} {{ profile_viewing.user.username|title }}'s {% endif %} Team
                  </button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-description">
                    Description
                  </button>
                </li>
                {% if not viewing_another_profile %}
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Team</button>
                </li>
                {% endif %}
              </ul>

              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <div class="card-body">
                    <h5 class="card-title">Team Details</h5>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Player</th>
                          <th scope="col">Bat</th>
                          <th scope="col">Bowl</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                         {% for player, points in profile_viewing_player_points.items %}
                          <tr>
                            {% if player == profile_viewing_cap.name %}
                              <td class="table-content">{{ player|title }} (c)</td>
                            {% elif player == profile_viewing_vice_cap.name %}
                              <td class="table-content">{{ player|title }} (vc) </td>
                            {% else %}
                              <td class="table-content">{{ player|title }}</td>
                            {% endif %}
                            <td class="table-content">{{ points.0 }}</td>
                            <td class="table-content">{{ points.1 }}</td>
                            <td class="table-content"><span>{{ points.2 }}</span></td>
                          </tr>
                        {% endfor %}    
                          <tr>
                            <td class="table-content-2">Match Predictions</td>
                            <td class="table-content-2">0</td>
                            <td class="table-content-2">0</td>
                            <td class="table-content-2">{{ profile_viewing.prediction_score }}</td>
                          </tr>     
                      </tbody>
                    </table>
                  </div> 
                  <div class="card-body">
                    <h5 class="card-title">Bonus Matches</h5>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Match</th>
                          <th scope="col">Date</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                         {% for match in profile_viewing_matches %}
                          <tr>
                            <td class="table-content">{{ match.name|title }}</td>
                            <td class="table-content">{{ match.date }}</td>
                            {% if match.has_completed %}
                              <td class="table-content"><span class="badge bg-success">C</span></td>
                            {% else %}
                              <td class="table-content"><span class="badge bg-info">P</span></td>
                            {% endif %}
                          </tr>
                        {% endfor %}         
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="tab-pane fade profile-overview" id="profile-description">
                  <div class="card-body">
                    <h5 class="card-title">Points description</h5>
                    <!-- Accordion without outline borders -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      {% for match, description in points_description.items %}
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="acc-btn accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#match{{ description.Info.match_id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                <span style="margin-right:10px;"> 
                                  {{ description.Info.matchName|title }} 
                                  {% if description.Info.is_match_bonus %}
                                    <span class="badge bg-success">BM</span>
                                  {% endif %}
                                </span>
                                <span>
                                  <b>{{ description.Info.total.2 }} pts</b>
                                </span>
                                
                            </button>
                          </h2>
                          <div id="match{{ description.Info.match_id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Player</th>
                                    <th scope="col">Bat</th>
                                    <th scope="col">Bowl</th>
                                    <th scope="col">Total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for player, points in description.Players.items %}
                                    <tr>
                                      {% if player == description.Info.captain %}
                                        <td class="table-content">{{ player|title }} (c)</td>
                                      {% elif player == description.Info.vice_captain %}
                                        <td class="table-content">{{ player|title }} (vc) </td>
                                      {% else %}
                                        <td class="table-content">{{ player|title }}</td>
                                      {% endif %}
                                      <td class="table-content">{{ points.0 }}</td>
                                      <td class="table-content">{{ points.1 }}</td>
                                      <td class="table-content"><span>{{ points.2 }}</span></td>
                                    </tr> 
                                  {% endfor %}
                                    <tr>
                                      <td class="table-content">Match Prediction</td>
                                      <td class="table-content">0</td>
                                      <td class="table-content">0</td>
                                      <td class="table-content">{{ description.Info.match_prediction }}</td>
                                    </tr>
                                    <tr>
                                      <td class="table-content">Total</td>
                                      <td class="table-content">{{ description.Info.total.0 }}</td>
                                      <td class="table-content">{{ description.Info.total.1 }}</td>
                                      <td class="table-content">{{ description.Info.total.2 }}</td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      {% endfor %}             
                    </div><!-- End Accordion without outline borders -->                
                  </div> 
                </div>
                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  {% if is_match_live %}
                    <div class="message">
                      <p><small> A match is live, cannot edit right now. </small></p>
                    </div>
                    <hr />
                  {% endif %}
                  <!-- Captain Edit Form -->
                  <form action="{% url 'edit-captain' %}" method="post">
                    {% csrf_token %}  
                    <div class="row mb-3">
                      <label for="captain" class="col-md-4 col-lg-3 col-form-label edit-profile-label">Captain</label>
                      <div class="col-md-5 col-lg-6">
                        <select class="form-select" id="floatingSelect" aria-label="State" name="captain" required>
                          {% for player in profile_viewing_players %}
                            {% if player != profile_viewing_vice_cap %}
                              {% if player == profile_viewing_cap %}
                                <option value="{{ player.id }}" selected>{{ player.name|title }}</option>
                              {% else %}
                                <option value="{{ player.id }}">{{ player.name|title }}</option>
                              {% endif %}
                            {% endif %}
                          {% endfor %}     
                        </select>
                      </div>
                      <div class="col-md-3 col-lg-3 edit-profile">
                        <div class="text-center">
                          {% if profile_viewing.captain_changes != 0 and not is_match_live %}
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                          {% else %}
                            <button type="submit" class="btn btn-primary" disabled>Save Changes</button>
                          {% endif %}
                        </div>
                      </div>
                    </div>                                 
                  </form><!-- End Captain Edit Form -->
                  <div class="message">
                    {% if profile_viewing.captain_changes != 0 %}
                      <p> <small> *Can change the captain only {{ profile_viewing.captain_changes }} time</small> </p>
                    {% else %}
                      <p> <small> *Cannot make any changes </small> </p>
                    {% endif %}
                  </div>
                  <hr>

                  <!--Vice Captain Edit Form -->
                  <form action="{% url 'edit-vice-captain' %}" method="post">
                    {% csrf_token %}  
                    <div class="row mb-3">
                      <label for="captain" class="col-md-4 col-lg-3 col-form-label edit-profile-label">Vice Captain</label>
                      <div class="col-md-5 col-lg-6">
                        <select class="form-select" id="floatingSelect" aria-label="State" name="vice_captain" required>
                          {% for player in profile_viewing_players %}
                            {% if player != profile_viewing_cap %}
                              {% if player == profile_viewing_vice_cap %}
                                <option value="{{ player.id }}" selected>{{ player.name|title }}</option>
                              {% else %}
                                <option value="{{ player.id }}">{{ player.name|title }}</option>
                              {% endif %}
                            {% endif %}
                          {% endfor %}     
                        </select>
                      </div>
                      <div class="col-md-3 col-lg-3 edit-profile">
                        <div class="text-center">
                          {% if profile_viewing.vice_captain_changes != 0 and not is_match_live %}
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                          {% else %}
                            <button type="submit" class="btn btn-primary" disabled>Save Changes</button>
                          {% endif %}
                        </div>
                      </div>
                    </div>                                 
                  </form><!-- End Vice Captain Edit Form -->
                  <div class="message">
                    {% if profile_viewing.vice_captain_changes != 0 %}
                      <p> <small> *Can change the vice captain only {{ profile_viewing.vice_captain_changes }} time</small> </p>
                    {% else %}
                      <p> <small> *Cannot make any changes </small> </p>
                    {% endif %}
                  </div>
                  <hr>

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

  <script>
    
  </script>
{% endblock %}