.ps-3 h5 {
  padding: 10px 0 2px 0;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title {
  padding: 16px 0 8px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.toss-span {
  color: #012970;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.refresh-icon{
text-align: right;
color: black;
font-size: 24px;
position: relative;
top: 8px;
left: auto;
right: 0px;
}

.score-hr {
margin-top: 8px;
margin-bottom: 8px;
}
.score-span {
color: #012970;
font-size: 17px;
font-weight: 500;
font-family: "Poppins", sans-serif;
}

.right-border-custom {
  border-right: 1px solid #9A9A9A;
}

.score-row-title th{
  color: #012970;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.score-row th{
  color: black;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#loading {
display: block;  
margin-left: auto;
margin-right: auto;
height: 32px;
width: 32px;
}

marquee{
font-size: 13px;
font-weight: 400;
color: #012970;
font-family: "Poppins", sans-serif;
border: 1px solid blacks;

}

.marquee-hr{
margin-top: 0px;
margin-bottom: 8px;
}

.dashboard-register{
width: 100%;
margin-bottom: 10px;
}
.dashboard-register a {
width: 100%;
background-color: #012970;
}

